*#*
*~*
.ICEauthority
.Xauthority
.Xmodmap
.bash_history
.bash_logout
.bash_profile
.bashrc
.bluej/
.config/Bitwarden/
.config/Bitwarden\ CLI/
.config/BraveSoftware/
.config/Electron/
.config/Element
.config/GIMP/
.config/Kitware/
.config/OpenSCAD/
.config/QtProject.conf
.config/Thunar/
.config/Ulduzsoft/
.config/VirtualBox/
.config/abiword/
.config/autostart/
.config/blender/
.config/chromium/
.config/configstore
.config/dconf/
.config/discord/
.config/discordcanary/
.config/doom/
.config/fcitx/
.config/gh/
.config/gtk-2.0/
.config/hexchat/
.config/higan/
.config/hiro/
.config/inkscape/
.config/leafpad/
.config/libfm/
.config/libreoffice/
.config/lxqt/
.config/microsoft-edge-dev/
.config/mozc/
.config/neofetch
.config/nordvpn/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse/
.config/qmk/
.config/qt5ct/
.config/rofi/
.config/skypeforlinux/
.config/spacefm/
.config/sqlitebrowser
.config/sxhkd/sxhkdrc
.config/systemd/
.config/torbrowser
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vimb/
.config/vivaldi/
.config/vlc/
.config/xfce4/
.config/xinitrc
.config/yarn/
.config/zsh_bookmarks
.dbus/
.gitconfig
.hhexen
.ipfs/
.java/
.kchmviewer
.lein/
.librewolf/
.local/bin/virtualenv
.local/lib/
.local/share/.vivaldi_reporting_data
.local/share/Steam
.local/share/Trash/
.local/share/addressbook
.local/share/addressbook~
.local/share/ahk/
.local/share/bookmarks
.local/share/cargo/
.local/share/clipboard
.local/share/clipboard.d/
.local/share/coursera/
.local/share/direnv
.local/share/doc
.local/share/doc/
.local/share/docker
.local/share/emoji
.local/share/fonts/
.local/share/games
.local/share/go/
.local/share/history
.local/share/ii/
.local/share/irssi
.local/share/irssi/
.local/share/kode/
.local/share/mail/
.local/share/memes
.local/share/movies/
.local/share/mupen64plus/
.local/share/newsboat/
.local/share/notes
.local/share/notifications
.local/share/nvim/.netrwhist
.local/share/nvim/log
.local/share/nvim/lsp.log
.local/share/nvim/shada/
.local/share/nvim/site/autoload/plug.vim.old
.local/share/nvim/undo/
.local/share/nvm/
.local/share/pictures
.local/share/plover/
.local/share/qutebrowser/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/rosetta/
.local/share/sarbs/
.local/share/sarbs/aurlist
.local/share/sarbs/paclist
.local/share/secrets/
.local/share/statusbar
.local/share/steam
.local/share/tig/
.local/share/todo
.local/share/torbrowser/
.local/share/ucollage
.local/share/vbox
.local/share/virt
.local/share/virtualenv/
.local/share/vlc/
.local/share/vulkan/
.local/share/wallpaper
.local/share/warez
.local/share/warez/
.local/share/webkitgtk/
.local/share/www
.local/share/xdotool/
.local/share/xfce4
.local/share/xorg/
.local/share/zathura/
.local/share/zeitgeist/
.local/src
.local/src/
.local/var
.m2/
.minecraft/
.mozilla/
.npm/
.offlineimap/
.pki
.plover-lock-casper-0
.psql_history
.pulse-cookie
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.viminfo
.vscode
.vscode-oss
.xscreensaver
.xsession-errors
.xsession-errors.old
.yarnrc
Documents
Downloads
Mail/
Pictures
bookmarks.db.tar.xz
steam.desktop
