.Xauthority
.cache/
.config/Bitwarden/
.config/Bitwarden\ CLI/
.config/BraveSoftware/
.config/Thunar/
.config/dconf/
.config/discord/
.config/emacs/
.config/emacs/.git
.config/inkscape/
.config/libfm/
.config/nvim/
.config/nvim_/
.config/pcmanfm/
.config/pulse/
.config/spacefm/
.config/systemd/
.config/vivaldi/
.config/vlc/
.config/xfce4/
.config/zsh/
.gitconfig
.local/lib/
.local/share/.vivaldi_reporting_data
.local/share/gnupg/
.local/share/history
.local/share/lf/
.local/share/nvim/shada/
.local/share/nvim/undo/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/vlc/
.local/share/www/
.local/share/xorg/
.local/share/zathura/
.local/src/
.minecraft/
.pki
.ssh/
.vscode
.xinitrc
Documents
Downloads
.config/discordcanary/
.local/share/cargo/
.config/QtProject.conf
