[submodule ".config/nvim"]
    path = .config/nvim
    url = https://github.com/Sife-ops/SoyFreeVim.git
    update = merge
[submodule ".config/zsh"]
    path = .config/zsh
    url = https://github.com/Sife-ops/xyZSH.git
    update = merge
[submodule ".local/var/dmenu"]
	path = .local/var/dmenu
	url = https://github.com/Sife-ops/dmenu.git
    update = merge
[submodule ".local/var/st"]
	path = .local/var/st
	url = https://github.com/Sife-ops/st.git
    update = merge
