.config/emacs/.git
.pki
.Xauthority
.xinitrc
.cache/
.config/Bitwarden\ CLI/
.config/Bitwarden/
.config/BraveSoftware/
.config/discord/
.config/emacs/
.config/nvim/
.config/pulse/
.config/zsh/
.local/share/gnupg/
.local/share/history
.local/share/lf/
.local/share/nvim/shada/
.local/share/nvim/undo/
.local/share/www/
.local/share/xorg/
.local/src/
.gitconfig
.minecraft/
.config/Thunar/
.config/dconf/
.config/libfm/
.config/pcmanfm/
.config/spacefm/
.config/vlc/
.config/xfce4/
.local/share/recently-used.xbel
.local/share/vlc/
.ssh/
Downloads
.config/inkscape/
.local/share/zathura/
Documents
